.venv
venv/
venv-*/
dist/

__pycache__/
.mypy_cache/
.pytest_cache/

.idea/
.vscode/

*/target/
*/dbt_packages/
*/logs/
logs/
*.duckdb
*.duckdb.wal
*.user.yml
*.db

reports/sources/*.csv

.meltano
.DS_Store
.ruff_cache