name: PyPi Release

on:
  release:
    types: [published]

jobs:
  release:
    environment: release
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11]
        poetry-version: [1.4.2]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry ${{ matrix.poetry-version }}
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ matrix.poetry-version }}

    - name: Install dependencies
      shell: bash
      run: python -m poetry install

    - name: Build
      run: |
        python -m poetry build

    - name: Publish
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
      run: |
        python -m poetry publish --skip-existing